%button {
    cursor: pointer;
    color: #fff;
    line-height: 1.4;
    padding: .565em 1em .5em 1em;
    font-weight: bold;
};

%img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
};

%xCenter {
    display: flex;
    justify-content: center;
}

%yCenter {
    display: flex;
    align-content: center;
}

%xYCenter {
    @extend %xCenter, %yCenter;
}