.flip-enter-active {
    transform: rotateY(180deg);
    transition: 1s;
    transform-style: preserve-3d
}

.flip-exit-active {
    transform: rotateY(180deg);
    transition: 1s;
    transform-style: preserve-3d
}

.flipper {
    transition: 1s;
    transform-style: preserve-3d
}

.front {
    position: absolute
}

.back {
    transform: rotateY(180deg)
}