@import '../../defaultStructs.scss';

$backgroundSize: contain !important;

.detailsContainer {
    @extend %xCenter;
    height: 90vh;
}

.details {
    margin-top: 5%;
    display: flex;
    width: 72%;
}

.detailsRight {
    width: 57%;
}

.detailsLeft {
    margin-top: 20%;
    margin-right: 8%;
    width: 35%;
}

.motorcycle {
    @extend %img;
    width: 100%;
    height: 50em;
    background-image: url(../../assets/moto.png);
    background-size: $backgroundSize;
}

.computer {
    @extend %img;
    background-image: url(../../assets/pc.png);
    background-size: $backgroundSize;
};

.titleDetails {
    margin-bottom: 15px;
    font-size: 30px;
    color: black
}

.subTitleDetails {
    color: rgb(124, 124, 124)
}

$detailsImgs: (
    ("modeling", "roda.png"),
    ("design", "design.png"),
    ("collaboration" "collaboration.png"),
);

@each $name, $img in $detailsImgs {
    .#{$name}Before {
        @extend %img;
        opacity: 0;
        position: absolute;
        width: 35em;
        height: 37em;
        right: 22%;
        top: 80%;
        background-image: url("../../assets/#{$img}");
    };
};

@each $name, $img in $detailsImgs {
    .#{$name}After {
        @extend %img;
        transition: 2s;
        opacity: 1;
        position: absolute;
        width: 45em;
        height: 37em;
        right: 17%;
        top: 132%;
        background-image: url("../../assets/#{$img}");
    }
}