.recoveryGroup {
    margin-top: 250px;
    position: absolute !important;
    z-index: 9999 !important;
}

.recoveryPassword-enter {
    opacity: 0.01;
    transform: scale(2);
    background-color: blue
}

.recoveryPassword-enter-active {
    opacity: 0.7;
    transform: scale(1.5);
    transition: 5s;
    background-color: red
}

.recoveryPassword-enter-done {
    opacity: 1;
    transform: scale(1);
    transition: 5s;
    position: relative;
}

.recoveryPassword-exit {
    opacity: 1;
    transform: scale(1);
    background-color: green
}

.recoveryPassword-exit-active {
    opacity: 0.1;
    transform: scale(1.1);
    transition: 5s;
    background-color: rgb(32, 221, 205)
}

.recoveryPassword-exit-done {
    opacity: 0.01;
    transform: scale(1.5);
    transition: 5s;
    background-color: yellow
}