.introContainer {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-image: url(../../../assets/fusionBanner.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    background-color: #0d0d0d;
    position: relative;
    background-position: center;
}

.intro {
    display: flex;
    width: 72%;
    height: 100vh;
}

.introRight {
    display: grid;
    align-content: center;
    width: 58.3333%;
}

.introLeft {
    margin-top: 10%;
    width: 41.66667%;
    padding-left: 0;
    padding-right: 0;
}

.title {
    margin-bottom: 15px;
    font-size: 30px;
    color: white;
}

.subTitle {
    color: white;
    margin-top: 10px;
}

.button1 {
    cursor: pointer;
    margin-left: 0px;
    font-weight: bold;
    line-height: 1.4;
    color: white;
    background-color: #faa21b;

    padding: .565em 1em .5em 1em;

}

.button2 {
    cursor: pointer;
    margin-left: 10px;
    font-weight: bold;
    line-height: 1.4;
    color: white;
    border: 1px solid white;
    width: 14em;
    padding: .565em 1em .5em 1em;
}

.imgContainerDesign {
    opacity: 1;
    border: 1px solid white;
    position: absolute;
    top: 15%;
    right: 40%;
    width: 141px;
}

.imgContainerDesignAfter {
    transition: 3s;
    opacity: 0;
    border: 1px solid white;
    position: absolute;
    top: 90%;
    right: 40%;
    width: 141px;
}

.imgContainerSimulation {
    border: 1px solid white;
    position: absolute;
    right: 32%;
    width: 141px;
    top: 29%;
}

.imgContainerSimulationAfter {
    transition: 3s;
    opacity: 0;
    border: 1px solid white;
    position: absolute;
    top: 145%;
    right: 33%;
    width: 141px;
}

.imgContainerModeling {
    border: 1px solid white;
    position: absolute;
    width: 141px;
    right: 20%;
    top: 10%;
}

.imgContainerModelingAfter {
    transition: 3s;
    opacity: 0;
    border: 1px solid white;
    position: absolute;
    top: 100%;
    right: 25%;
    width: 141px;
}

.imgContainerRapid {
    border: 1px solid white;
    position: absolute;
    width: 141px;
    right: 11%;
    top: 29%;
}

.imgContainerRapidAfter {
    transition: 3s;
    opacity: 0;
    border: 1px solid white;
    position: absolute;
    top: 150%;
    right: 25%;
    width: 141px;
}

.imgContainerCollaboration {
    border: 1px solid white;
    position: absolute;
    width: 142px;
    right: 22%;
    top: 43%;
}

.imgContainerCollaborationAfter {
    transition: 3s;
    opacity: 0;
    border: 1px solid white;
    position: absolute;
    top: 80%;
    right: 23%;
    width: 141px;
}

.imgContainerGenerative {
    border: 1px solid white;
    position: absolute;
    width: 141px;
    top: 60%;
    right: 32%;
}

.imgContainerGenerativeAfter {
    transition: 3s;
    opacity: 0;
    border: 1px solid white;
    position: absolute;
    top: 145%;
    right: 33%;
    width: 141px;
}

.imgContainerManufacturing {
    border: 1px solid white;
    position: absolute;
    width: 141px;
    top: 60%;
    right: 12%;
}

.imgContainerManufacturingAfter {
    transition: 3s;
    opacity: 0;
    border: 1px solid white;
    position: absolute;
    top: 145%;
    right: 33%;
    width: 141px;
}

.imgContainerDocumentation {
    border: 1px solid white;
    position: absolute;
    width: 141px;
    right: 43%;
    top: 50%;
}

.imgContainerDocumentationAfter {
    transition: 3s;
    opacity: 0;
    border: 1px solid white;
    position: absolute;
    top: 145%;
    right: 33%;
    width: 141px;
}

.imgTitle {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 11px 12px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    background-image: url(../../../assets/fusionBanner.jpeg)
}

.design {
    width: 141px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../assets/design.jpeg)
}

.simulation {
    width: 141px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../assets/simulation.jpeg)
}

.modeling {
    width: 141px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../assets/roda.jpeg)
}

.rapid {
    width: 141px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../assets/rapid.jpeg)
}

.collaboration {
    width: 141px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../assets/collaboration.jpeg)
}

.generative {
    width: 141px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../assets/generative.jpeg)
}

.manufacturing {
    width: 141px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../assets/manufacturning.jpeg)
}

.documentation {
    width: 141px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../assets/documentation.jpeg)
}