@import '../../defaultStructs.scss';
$widthCard: 146px;
$fontColor: #fff;
$bordaDefault: 1px solid white;

@debug $widthCard;

.title {
    color: $fontColor;
    margin-bottom: 15px;
    font-size: 30px;
}

.subTitle {
    color: $fontColor;
    margin-top: 10px;
}

.imgTitle {
    @extend %img;
    color: $fontColor;
    text-align: center;
    padding: 11px 12px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    background-image: url(../../assets/fusionBanner.jpeg);
}

/** Aplica Background e centraliza a intro */
.introContainer {
    @extend %xCenter, %img;
    min-height: 100vh;
    position: relative;
    background-image: url(../../assets/fusionBanner.jpeg);
}

.intro {
    width: 72%;
}

.introLeft {
    margin-top: 10%;
    width: 41.67%;
}

.subscribeButton {
    @extend %button;
    background-color: #faa21b;
}

.downloadButton {
    @extend %button;
    border: $bordaDefault;
    margin-left: 10px;
    width: 14em;
}

$imgContainer: (
    ('Design', 15%, 40%),
    ('Simulation', 29%, 32%),
    ('Modeling', 10%, 20%),
    ('Rapid', 29%, 11%),
    ('Collaboration', 43%, 22%),
    ('Generative', 60%, 32%),
    ('Manufacturing', 60%, 12%),
    ('Documentation', 50%, 43%)
);

@each $name, $top, $right in $imgContainer {
    .imgContainer#{$name} {
        transition: 1s;
        z-index: 10;
        border: $bordaDefault;
        top: $top;
        right: $right;
        width: $widthCard;
        position: absolute;
    }
}

$imgItem: (
    ('design', 'design.jpeg'),
    ('simulation', 'simulation.jpeg'),
    ('modeling', 'roda.jpeg'),
    ('rapid', 'rapid.jpeg'),
    ('collaboration', 'collaboration.jpeg'),
    ('generative', 'generative.jpeg'),
    ('manufacturing', 'manufacturning.jpeg'),
    ('documentation', 'documentation.jpeg')
);

@each $name, $img in $imgItem {
    .#{$name} {
        @extend %img;
        background-image: url('../../assets/#{$img}');
        height: 100px;
    }
}

/** Estilo aplicado logo após o movimento do scroll */
$afterImgContainer: (
    ('Design', 90%, 40%),
    ('Simulation', 145%, 33%),
    ('Modeling', 90%, 25%),
    ('Rapid', 150%, 25%),
    ('Collaboration', 80%, 23%),
    ('Generative', 145%, 33%),
    ('Manufacturing', 145%, 33%),
    ('Documentation', 145%, 33%)
);

@each $name, $top, $right in $afterImgContainer {
    .imgContainer#{$name}After {
        z-index: 10;
        border: $bordaDefault;
        top: $top;
        right: $right;
        width: $widthCard;
        transition: 1s;
        opacity: 0;
        position: absolute;
    }
}
